<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyFlaskApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      .bg {
  /* The image used */
  background-image: url('static/images/bg-03.jpg');

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: inline;
}
body, html {
  height: 100%;
}
h1,h2,h3{
  color: white;
}


    </style>
  </head>
  <body>
    <div class="bg" >
      
    {% include 'includes/_navbar.html' %}
    <div class="container" >
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>
    </div>
  </body>
</html>