{% extends 'layout.html' %}

{% block body %}
  <h1>Profile</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form action="" method="POST">
    <div class="form-group">
        <h2>
        {{render_field(form.fullname, class_="form-control")}}
        </h2>
    </div>
    <div class="form-group">
            <h2>
        {{render_field(form.address1, class_="form-control")}}
        </h2>
    </div>
    <div class="form-group">
            <h2>
        {{render_field(form.address2, class_="form-control")}}
        </h2>
    </div>
    <div class="form-group">
        <h2>
        {{render_field(form.city, class_="form-control")}}
        </h2>
    </div>
    <div class="form-group">
        <h2>
        {{render_field(form.state, class_="form-control")}}
        </h2>
    </div>
    <div class="form-group">
        <h2>
        {{render_field(form.zipcode, class_="form-control")}}
        </h2>
        
    </div>
   
    <button type="submit" class="btn btn-primary" value="submit" style =" background-color: #b19a00;">Create Profile</button>
  </form>
{% endblock %}
