{% extends 'layout.html' %}

{% block body %}

<h1>Quote History</h1>
<table id="customers" style="width:100%">
       
        
          {% if val==0 %}
          <h3>No Orders </h3>
         
          {% else %}
          <tr>
        {% for key, value in data[0].iteritems() %}
        
        
              <th> <h3>{{ key }} </h3></th>
              
              {% endfor %}
            </tr>
              {% for row in data %}
              <tr>
              {% for key, value in row.iteritems() %}
              
              <td> <h3>{{ value }}</h3> </td>
              
              {% endfor %} 
        {% endfor %}
    </tr>
    {% endif %}  
        
</table>

{% endblock %}