
{% extends 'layout.html' %}

{% block body %}
  <h1>Quote</h1>
  <div class="container">
        <h1>{{ result }}</h1>
        
    </div>
   
  <form action="" method="POST">
    <div class="form-group">
      <label><h2>gallons</h2></label>
      <input type="text" name="gallons" class="form-control" required value={{request.form.gallons}} >
    </div>
    <div class="form-group">
      <label><h2>deliverydate</h2></label>
      <input type="date" name="deliverydate" class="form-control" required value={{request.form.deliverydate}}>
    </div>
    
  
    <button type="submit" style =" background-color: #b19a00;" name="submit button" class="btn btn-primary"value="get price">Get Price</button>
    <div class="container">
      <h1>Price per gallon: {{ price }}</h1>
      
  </div>

  <button type="submit" style =" background-color: #b19a00;" name="submit button" class="btn btn-primary"value="place order">Place Order</button>
  </form>
    
{% endblock %}