
{% extends 'layout.html' %}

{% block body %}
  <h1>Quote</h1>
  <div class="container">
        <h1>{{ result }}</h1>
        
    </div>
    <div class="container">
      <h1>{{ price }}</h1>
      
  </div>
  <form action="" method="POST">
    <div class="form-group">
      <label><h2>gallons</h2></label>
      <input type="text" name="gallons" class="form-control" value={{request.form.gallons}}>
    </div>
    <div class="form-group">
      <label><h2>deliverydate</h2></label>
      <input type="date" name="deliverydate" class="form-control" value={{request.form.deliverydate}}>
    </div>
    
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    
{% endblock %}